{% extends "base.html" %}

{% block titulo %} Categorias {% endblock %}

{% block contenido %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
  
      <a class="navbar-brand text-dark" href="{% url 'catalogo' id_usuario=usuario.id_usuario %}">CATALOGO</a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarText">
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              GESTION DEL CATALOGO
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="dropdown-item text-dark" aria-current="page"
                  href="{% url 'categoria' id_usuario=usuario.id_usuario %}">CATEGORIAS</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item text-dark" href="{% url 'editorial' id_usuario=usuario.id_usuario %}">EDITORIALES</a>
              </li>
  
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item">
                <a class="dropdown-item text-dark" href="{% url 'gestion_catalogo' id_usuario=usuario.id_usuario %}">LIBROS</a>
              </li>
            </ul>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'estadisticas' id_usuario=usuario.id_usuario %}">ESTADISTICAS DE VENTAS</a>
          </li>
  
        </ul>
  
        <div class="navbar-text">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: black;">
                Usuario: {{ usuario.nombre }}
            </a>
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a class="dropdown-item text-dark" aria-current="page" href="{% url 'editar_usuario' id_usuario=usuario.id_usuario %}">Editar Perfil</a>
                </li>
        
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item">
                    <a class="dropdown-item text-dark" href="{% url 'logout' %}">Cerrar Sesión</a>
                </li>
            </ul>
          </li>
        </div>
  
      </div>
  
    </div>
  </nav>

<div class="container ">
    <h1 class="mt-4">Categorías</h1>
    <button class="btn btn-warning mt-4" data-bs-toggle="modal" data-bs-target="#agregarModal">Agregar Categoría</button>

    <table class="table mt-3">
        <thead>
            <tr class="table-warning">
                <th>ID Categoría</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.id_categoria }}</td>
                <td>{{ categoria.nombre }}</td>
                <td>
                    <button class="btn btn-info" data-bs-toggle="modal"
                        data-bs-target="#editarModal{{ categoria.id_categoria }}">Editar</button>

                    <div class="modal fade" id="editarModal{{ categoria.id_categoria }}" tabindex="-1"
                        aria-labelledby="editarModalLabel{{ categoria.id_categoria }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editarModalLabel{{ categoria.id_categoria }}">Editar
                                        Categoría</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form
                                        action="{% url 'actualizar_categoria' id_usuario=usuario.id_usuario id_categoria=categoria.id_categoria %}"
                                        method="POST">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="nombre" class="form-label">Nombre</label>
                                            <input type="text" class="form-control" id="nombre" name="nombre"
                                                value="{{ categoria.nombre }}" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#eliminarModal{{ categoria.id_categoria }}">Eliminar</button>

                    <div class="modal fade" id="eliminarModal{{ categoria.id_categoria }}" tabindex="-1"
                        aria-labelledby="eliminarModalLabel{{ categoria.id_categoria }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="eliminarModalLabel{{ categoria.id_categoria }}">
                                        Confirmar eliminación</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Estás seguro de que deseas eliminar la categoría "{{ categoria.nombre }}"?</p>
                                </div>
                                <div class="modal-footer">
                                    <form
                                        action="{% url 'eliminar_categoria' id_usuario=usuario.id_usuario id_categoria=categoria.id_categoria %}"
                                        method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>

                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Mostrar enlaces de paginación -->
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
      {% if categorias.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="Primera">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ categorias.previous_page_number }}" aria-label="Anterior">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% for num in categorias.paginator.page_range %}
      <li class="page-item {% if categorias.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endfor %}

      {% if categorias.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ categorias.next_page_number }}" aria-label="Siguiente">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ categorias.paginator.num_pages }}" aria-label="Última">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

<div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarModalLabel">Agregar Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'crear_categoria' id_usuario=usuario.id_usuario %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}