{% extends "base.html" %}

{% block titulo %} Agregar Nuevo Libro {% endblock %}

{% block contenido %}

<h1>Agregar Libro</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.titulo.id_for_label }}" class="form-label">{{ form.titulo.label }}</label>
        {{ form.titulo }}
    </div>
    <div class="mb-3">
        <label for="{{ form.stock.id_for_label }}" class="form-label">{{ form.stock.label }}</label>
        {{ form.stock }}
    </div>
    <div class="mb-3">
        <label for="{{ form.imagen.id_for_label }}" class="form-label">{{ form.imagen.label }}</label>
        {{ form.imagen }}
        {% if form.imagen.value %}
        <img src="{{ form.imagen.value.url }}" alt="Vista previa de la imagen" width="200">
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="{{ form.precio.id_for_label }}" class="form-label">{{ form.precio.label }}</label>
        {{ form.precio }}
    </div>
    <div class="mb-3">
        <label for="{{ form.id_categoria.id_for_label }}" class="form-label">{{ form.id_categoria.label }}</label>
        {{ form.id_categoria }}
    </div>
    <div class="mb-3">
        <label for="{{ form.id_editorial.id_for_label }}" class="form-label">{{ form.id_editorial.label }}</label>
        {{ form.id_editorial }}
    </div>

    <button type="submit" class="btn btn-primary mb-3">Guardar</button>

    {% if id_libro %}
    <!-- Botón para ir a CRUD de autores -->
    <a href="{% url 'crud_autores' id_usuario=id_usuario id_libro=id_libro %}" class="btn btn-primary mb-3">Administrar Autores</a>
    {% endif %}

    <!-- Botón para regresar a gestión de inventario -->
    <a href="{% url 'gestion_catalogo' id_usuario=id_usuario %}" class="btn btn-secondary mb-3">Regresar a Gestión del Catalogo</a>
</form>

{% endblock %}