{% extends "base.html" %}

{% block titulo %} Pagina Principal {% endblock %}

{% block contenido %}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" href="{% url 'pagina_principal' id_usuario=usuario.id_usuario %}">Lista de Libros</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
            href="{% url 'categoria' id_usuario=usuario.id_usuario %}">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'editorial' id_usuario=usuario.id_usuario %}">Editoriales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gestion_inventario' id_usuario=usuario.id_usuario %}">Gestion de Inventario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Boleta</a>
        </li>
      </ul>

      <span class="navbar-text">
        Usuario: #A000{{ usuario.id_usuario }} &nbsp; <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar
          sesión</a>
      </span>

    </div>

  </div>
</nav>

<div class="container">
  <h1 class="mt-4">Gestión de Inventario</h1>

  <a href="{% url 'crear_libro' id_usuario=usuario.id_usuario %}" class="btn btn-success mt-4">Crear Libro</a>

  <table class="table mt-4">
      <thead>
          <tr class="table-success">
              <th>Id_Libro</th>
              <th>Título</th>
              <th>Imagen</th>
              <th>Stock</th>
              <th>Precio</th>
              <th>Editorial</th>
              <th>Categoría</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          {% for libro in libros %}
          <tr>
              <td>{{ libro.id_libro }}</td>
              <td>{{ libro.titulo }}</td>
              <td><img src="{{ libro.imagen.url }}" width="70"></td>
              <td>{{ libro.stock }}</td>
              <td>{{ libro.precio }}</td>
              <td>{{ libro.id_editorial.nombre }}</td>
              <td>{{ libro.id_categoria.nombre }}</td>
              <td>
                  <a href="{% url 'editar_libro' id_usuario=usuario.id_usuario id_libro=libro.id_libro %}" class="btn btn-info">Editar</a>
                  <form method="post" action="{% url 'eliminar_libro' id_usuario=usuario.id_usuario id_libro=libro.id_libro %}" style="display:inline">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Eliminar</button>
                  </form>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>



{% endblock %}