{% extends "base.html" %}

{% block titulo %} Gestion del Catalogo {% endblock %}

{% block contenido %}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand text-dark" href="{% url 'catalogo' id_usuario=usuario.id_usuario %}">CATALOGO</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            GESTION DEL CATALOGO
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="dropdown-item text-dark" aria-current="page"
                href="{% url 'categoria' id_usuario=usuario.id_usuario %}">CATEGORIAS</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item text-dark" href="{% url 'editorial' id_usuario=usuario.id_usuario %}">EDITORIALES</a>
            </li>

            <li><hr class="dropdown-divider"></li>
            <li class="nav-item">
              <a class="dropdown-item text-dark" href="{% url 'gestion_catalogo' id_usuario=usuario.id_usuario %}">LIBROS</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'estadisticas' id_usuario=usuario.id_usuario %}">ESTADISTICAS DE VENTAS</a>
        </li>

      </ul>

      <div class="navbar-text">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: black;">
              Usuario: {{ usuario.nombre }}
          </a>
          <ul class="dropdown-menu">
              <li class="nav-item">
                  <a class="dropdown-item text-dark" aria-current="page" href="{% url 'editar_usuario' id_usuario=usuario.id_usuario %}">Editar Perfil</a>
              </li>
      
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item">
                  <a class="dropdown-item text-dark" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
          </ul>
        </li>
      </div>

    </div>

  </div>
</nav>

<div class="container">
  <h1 class="mt-4">Gestión del Catalogo</h1>

  <a href="{% url 'crear_libro' id_usuario=usuario.id_usuario %}" class="btn btn-success mt-4">Crear Libro</a>

  <table class="table mt-4">
      <thead>
          <tr class="table-success">
              <th>Id_Libro</th>
              <th>Título</th>
              <th>Imagen</th>
              <th>Stock</th>
              <th>Precio</th>
              <th>Editorial</th>
              <th>Categoría</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          {% for libro in libros %}
          <tr>
              <td>{{ libro.id_libro }}</td>
              <td>{{ libro.titulo }}</td>
              <td><img src="{{ libro.imagen.url }}" width="70"></td>
              <td>{{ libro.stock }}</td>
              <td>S/.{{ libro.precio }}</td>
              <td>{{ libro.id_editorial.nombre }}</td>
              <td>{{ libro.id_categoria.nombre }}</td>
              <td>
                  <a href="{% url 'editar_libro' id_usuario=usuario.id_usuario id_libro=libro.id_libro %}" class="btn btn-info">Editar</a>
                  <form method="post" action="{% url 'eliminar_libro' id_usuario=usuario.id_usuario id_libro=libro.id_libro %}" style="display:inline">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Eliminar</button>
                  </form>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  
  <!-- Mostrar enlaces de paginación -->
  <nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
      {% if libros.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="Primera">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ libros.previous_page_number }}" aria-label="Anterior">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% for num in libros.paginator.page_range %}
      <li class="page-item {% if libros.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endfor %}

      {% if libros.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ libros.next_page_number }}" aria-label="Siguiente">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ libros.paginator.num_pages }}" aria-label="Última">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock %}