<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pedido de Libros</title>
    <!-- Incluir los enlaces a los archivos CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f9f9f9;
        }

        .brand-image {
            max-width: 100px;
            margin-right: 10px;
        }

        .ImagenLibro {
            max-width: 200px;
            display: block;
            margin: 0 auto;
        }

        h1 {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 50px;
            color: #f3f4f5;
        }
    </style>
</head>
<body>
    <header class="bg-primary text-white text-center py-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>FastBook</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img src="https://img.freepik.com/vector-premium/icono-vector-libros-fondo-circulo-cuadrado_518965-305.jpg?w=1060" 
                     alt="Logo de la marca" class="ImagenLibro">
                <br>
                <h2 class="text-center">Bienvenido a nuestro software de pedido de libros</h2>
                <br>
                <p class="text-center">Encuentra una amplia selección de libros y atiende los pedidos de tus clientes de forma rápida.</p>
                <div class="text-center">
                    <a href="{% url 'signup' %}" class="btn btn-primary btn-lg">Registrarme</a>
                </div>
                <p class="mt-3 text-center">¿Ya estás registrado? <a href="{% url 'login' %}">Ingresa aquí</a></p>
            </div>
        </div>
    </div>

    <!-- Incluir el enlace al archivo JS de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>